NEXT_PUBLIC_SUPABASE_URL=https://twoj-projekt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=wklej_anon_public_key
SUPABASE_SERVICE_ROLE_KEY=wklej_service_role_key_tylko_na_serwerze

NEXT_PUBLIC_DEMO_MODE=false
